@import './../TemplateStyleSeting.css';

.skill{
    align-items: center;
    justify-items: center;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.skill-button{
    padding:10px 15px 10px 15px;
    background-color: var(--DarkSecondary);
    /* TODO a ajuster */
    background-color: #344958;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: 0px solid var(--MiddlePrimary);
    border-radius: 5px;
    color: var(--MiddlePrimary);
    font-size: 20px;
    font-weight: normal;
    box-shadow: var(--StandardShadow);
    
}
.skill-button:hover{
    background-color: var(--MiddlePrimary);
    /* TODO a ajuster */
    background-color: #3c5566;
    color: var(--BrightPrimary);
}
.skill-button:active{
    background-color: var(--DarkPrimary);
    border-color: var(--DarkPrimary);
    color: var(--MiddlePrimary);
}

.skill-duration{
    background-color:var(--DarkPrimary);
    /* TODO a ajuster */
    background-color:#2a3944;
    padding: 5px 20px 5px 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: var(--StandardShadow);
    color: var(--MiddlePrimary);
}