@import './../TemplateStyleSeting.css';

/* formationList */
.formationList{
    background-color: var(--DarkPrimary);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}

.formationList-title{
    font-size: 30px;
    color: var(--MiddlePrimary);
    margin-bottom: 30px;
    font-weight: normal;
    letter-spacing: 3px;
}

/* formation */
.formation{
    background-color: var(--DarkSecondary);
    margin-bottom: 30px;
    max-width: 850px;
    min-width: 250px;
    width: 100%;
    box-shadow: var(--StandardShadow);
    border-radius: 0px;
}
.formation-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formation-corps{
    display: flex;
    padding:  10px 30px 30px 30px;
    flex-direction: column;
}
.formation-corps-img{
    background-image: url("./../../Ressources/ImgBackgroundESIGELEC.png");
    background-position: center;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: var(--StandardShadow);
}
.formation-corps-img-transparency{
    display: flex;
    align-items: flex-end;
    justify-content: left;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: #16202579;
    border-radius: 5px;
}

.formation-corps-img-logo{
    max-height: 50px;
    max-width: 100%;
    filter: drop-shadow(var(--StandardShadow));
}
.formation-date{
    font-size: 25px;
    font-weight: normal;
    color:var(--BrightPrimary);
    padding: 10px;
    word-spacing: 3px;
}
.formation-name{
    flex:1;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
    color:var(--MiddlePrimary);
}
.formation-location{
    font-size: 25px;
    font-weight: lighter;
    text-decoration: none;
    color:var(--MiddlePrimary);
}
.formation-location:hover{
    color:var(--BrightPrimary);
    transition: 0.2;
}
.formation-location:hover svg path{
    fill:var(--BrightPrimary);
    transition: 0.2;
}
.formation-subtitle{
    font-size: 20px;
    color:var(--BrightPrimary);
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;

}

@media (max-width: 700px) {
    .formationList { 
        padding: 30px 0px 30px 0px;
    }
    .formation-corps-img{
        height: 200px;
    }
    .formation-name{
        font-size: 30px;
    }
}
/* 700px + size menu(350)  */
@media (max-width: 1050px) {
    .formationList.sidemenuopen { 
        padding: 30px 0px 30px 0px;
    }
    .formation-corps-img.sidemenuopen{
        height: 200px;
    }
    .formation-name.sidemenuopen{
        font-size: 30px;
    }
}