@import './../TemplateStyleSeting.css';

.header, .header.sidemenuopen{
    padding: 80px 80px 40px 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    min-height: 100vh;
    align-items: center;
    transition: 0.4s;
    
}
.header-pofileimg, .header-pofileimg.sidemenuopen {
    height: 300px;
    border: 3px solid var(--BrightSecondary);
    border-radius: 9999px;
    box-shadow: var(--StandardShadow);
    transition: 0.4s;
}
.header-textbox, .header-textbox.sidemenuopen {
    /* flex:1; */
    margin-right: 80px;
    max-width: 600px;
}
.header-textbox-title, .header-textbox-title.sidemenuopen {
    color: var(--BrightPrimary);
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 30px;
    text-shadow: var(--StandardShadowText);
}
.header-textbox-introduction{
    color: var(--BrightSecondary);
    text-align: justify;
    text-shadow: var(--StandardShadowText);
    font-size: 18px;
}
.header-navbar,.header-navbar.sidemenuopen{
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    list-style: none;
}
.header-navbar-button{
    width: 140px;
    height: 40px;
    display: table; 

}
.header-navbar-button-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    flex: 1;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    color: var(--BrightSecondary);
    text-shadow: var(--StandardShadowText);
}
.header-navbar-button:hover{
    border-bottom: solid 3px var(--BrightPrimary);
    font-weight: normal;
}
.header-navbar-button-text:hover{
    color: var(--BrightPrimary);
}

/* RESPONSIVE PARAMETER */

@media (max-width: 960px) {
    .header{
        padding: 80px 60px 30px 60px;
    }
    .header-textbox {
        margin-right: 60px;
    }
    .header-textbox-title {
        font-size: 50px;
    }
    .header-pofileimg{
        height: 250px;
    }
}

@media (max-width: 700px) {
    .header{
        flex-direction: column-reverse;
        padding: 10px 20px 10px 20px;
    }
    .header-navbar{
        display: none;
    }
    .header-textbox {
        margin-right: 0px;
    }
    .header-textbox-title {
        text-align: center;
        font-size: 45px;
    }
    .header-pofileimg{
        margin-bottom: 30px;
    }
}

/* SideMenu ouvert */

/* 960px + size menu(350)  */
@media (max-width: 1310px) {
    .header.sidemenuopen{
        padding: 80px 60px 30px 60px;
    }
    .header-textbox.sidemenuopen {
        margin-right: 60px;
    }
    .header-pofileimg.sidemenuopen{
        height: 250px;
    }
    .header-textbox-title.sidemenuopen {
        font-size: 50px;
    }
}
/* 700px + size menu(350) */
@media (max-width: 1050px) {
    .header.sidemenuopen{
        flex-direction: column-reverse;
        padding: 10px 20px 10px 20px;
    }
    .header-navbar.sidemenuopen{
        display: none;
    }
    .header-textbox.sidemenuopen {
        margin-right: 0px;
    }
    .header-textbox-title.sidemenuopen {
        text-align: center;
        font-size: 45px;
    }
    .header-pofileimg.sidemenuopen{
        margin-bottom: 30px;
    }
}