@import './../TemplateStyleSeting.css';

.portefolio{
    width: 100%;
    height: 100%;
    flex: 1;
    justify-content: flex-start;
    background-color: var(--DarkPrimary);
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}
.porfolio-slide{
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
}
.porfolio-slide-btnClose{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: absolute;
    right:60px;
    z-index: 1;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;    
    padding: 22px;
    transition : 0.5s;
}
.porfolio-slide-btnClose svg{
    transform: rotate(45deg);
}
.portefolio-buttonLeft{
    left: 0px;
    bottom: 0px;
    position: absolute;
    display: block;
    width: 10%;
    height: 100%;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    align-items: center;
}

.portefolio-buttonRight{
    right: 0px;
    bottom: 0px;
    position: absolute;
    display: block;
    width: 10%;
    height: 100%;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
    transition: 0.5s;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    align-items: center;
}

.portefolio-buttonRight:hover{
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
    width: 15%;
    transition: 0.5s;
    cursor: pointer;
}

.portefolio-buttonLeft:hover{
    background: linear-gradient(90deg, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%);
    width: 15%;
    transition: 0.5s;
    cursor: pointer;
}

.portefolio-buttonRight svg path, .portefolio-buttonLeft svg path{
    fill:rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}
.portefolio-buttonRight:hover svg path,.portefolio-buttonLeft:hover svg path{
    fill:rgba(255, 255, 255, 0.50);
    transition: 0.5s;
}
.portefolio-buttonRight:active svg path,.portefolio-buttonLeft:active svg path{
    fill:rgb(255, 255, 255);
    transition: 0.1s;
}

.portefolio-pageindicator{
    position: absolute;
    bottom: 10%;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portefolio-pageindicator-active{
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotate(45deg);
}
.portefolio-pageindicator-unactive{
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.50);
    transform: rotate(45deg);
}

@media (max-width: 700px) {
    .portefolio-buttonLeft{
        height: 150px;
        width: 150px;
        bottom: 0px;
        background: rgb(0,0,0);
        background: linear-gradient(45deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 35%);
    }
    .portefolio-buttonRight{
        height: 150px;
        width: 150px;
        bottom: 0px;
        background: rgb(0,0,0);
        background: linear-gradient(-45deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 35%);
    }
    .portefolio-buttonLeft:hover{
        background: rgb(0,0,0);
        background: linear-gradient(45deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 45%);
        width: 150px;
    }  
    .portefolio-buttonRight:hover{
        background: rgb(0,0,0);
        background: linear-gradient(-45deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 45%);
        width: 150px;
    }
    .portefolio-pageindicator{
        bottom: 75px;
        width: 100px;
        transform: translateX(-50%) translateY(50%);
    }
}


/* background: rgb(0,0,0);
background: linear-gradient(37deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); */