@import './../TemplateStyleSeting.css';

.sidemenu {
    z-index: 99;
    width: 350px;
    background-color: var(--MiddleSecondary);
    transition: 0.5s;
    margin-left: -350px;
    position: relative;
}
.sidemenu.shown{
    margin-left: 0px;
    width: 350px;
    background-color: var(--MiddleSecondary);
    transition: 0.5s;
}
.sidemenu-scrollcontainer{
    padding:30px    
}
.sidemenu-title{
    color: var(--MiddlePrimary);
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: lighter;
}
.sidemenu-infosupp{
    color: var(--MiddlePrimary);
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}
.sidemenu-buttonclose{
    z-index: 50;
    position: absolute;
    top: 28px;
    right: 0px;
    width: 50px;
    height: 50px;
    margin-right: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--MiddleSecondary);
    transition: 0.1s ease-out;
    transform: rotate(45deg);
    opacity: 0;

}
.sidemenu-buttonclose:hover{
    background-color: var(--MiddlePrimary);
}
.sidemenu-buttonclose:active{
    background-color: var(--DarkSecondary);
}
.sidemenu-buttonclose.shown{
    transition: 0.1s;
    transform: rotate(45deg);
    opacity: 1;
}
.sidemenu-buttonclose svg {
    transform: rotate(45deg);
} 
.sidemenu-buttonclose:hover svg {
    height:17px;
    width:17px;
} 

/* skillexperience */
.skillexperience{
    /* TODO a ajuster */
    background-color: #1e5a7e;
    border:0px solid var(--MiddlePrimary);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: var(--StandardShadow);
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.skillexperience:hover{
    border-color:  var(--BrightPrimary);
    /* TODO a ajuster */
    background-color: #1f6896;
}

.skillexperience:active{
    background-color: var(--DarkSecondary);    
    border-color: var(--BrightPrimary); 
}

.skillexperience-duration{
    color: var(--BrightPrimary);
    font-weight: normal;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 3px;
    font-size: 25px;
    margin-top: -8px;
    
}
.skillexperience-work{
    color: var(--BrightPrimary);
    font-weight: lighter;
    font-size: 17px;
    letter-spacing: 1px;    
}
.skillexperience-title{
    color: var(--MiddlePrimary);
    font-weight: normal;
    font-size: 17px;
}
.skillexperience-description{
    color: var(--MiddlePrimary);
    font-weight: lighter;
    font-size: 17px;
}
.experience-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width : 700px){
    .sidemenu {
        width: 100vw;
        margin-left: -100vw;
        margin-right:0vw;
    }
    .sidemenu.shown{
        width: 100vw;
        margin-left:0vw;
        margin-right:-100vw;
    }
    .sidemenu-scrollcontainer{
        padding-right:90px    
    }
    .sidemenu-buttonclose.shown{
        margin-right: 20px;
    } 
}