.portefoliosection {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.portefoliosection-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: ease-in-out 0.5s;
}
.portefoliosection-background-filter {
  width: 100%;
  height: 100%;
  background-color: var(--SoaThemeDarkTr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 100px;
}
.portefoliosection-logo {
  max-width: 600px;
  max-height: 250px;
  height: auto;
  width: auto;
  transition: 0.1s;
}
.portefoliosection-logominimized {
  max-width: 500px;
  max-height: 200px;
  height: auto;
  width: auto;
  transition: 0.4s;
}
.portefoliosection-button {
  padding: 10px 25px;
  border-radius: 5px;
  border-width: 0px;
  font-size: 20px;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

.portefoliosection-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
  display: none;
}

.portefoliosection-subtitle {
  font-size: 20px;
  color: #e0e0e0;
  max-width: 600px;
  text-align: center;
  opacity: 0.9;
}

.portefoliosection-button:hover {
  filter: brightness(110%);
  transition: 0.3s;
}

.portefoliosection-content {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 700px) {
  .portefoliosection-logo {
    max-width: 300px;
    max-height: 170px;

    height: auto;
    width: auto;
    transition: 0.1s;
  }
  .portefoliosection-logominimized {
    max-width: 260px;
    max-height: 140px;
    height: auto;
    width: auto;
    transition: 0.4s;
  }
  .portefoliosection-button {
    margin-bottom: 75px;
  }
  .portefoliosection-background-filter {
    gap: 40px;
    padding: 40px;
  }
}
