@import './TemplateStyleSeting.css';

/* GLOBAL STYLES */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* TODO : Amériorer le scroll */
    scroll-behavior: smooth; 
}
body {
    background-color: #222222;
}

/* mainpage */
.mainpage {
    position: fixed;
    height : 100%;
    width : 100%;
    background-color:var(--DarkPrimary);    
    background-image: url("./../Ressources/background-1487545_1920.jpg");
    display : flex;  
    flex-direction: column;
}
