:root{
    --DarkPrimary: #233039;
    --DarkSecondary: #2E3F4B;
    --DarkTertiary: #151a1f;

    --MiddlePrimary: #6cB0D7;
    --MiddleSecondary: #1b5272;
    /* --MiddleTertiary: blue; */

    --BrightPrimary: rgb(247, 252, 255);
    --BrightSecondary: rgb(206, 224, 240);
    /* --BrightTertiary: white; */

    --SoaThemeDark:#1f1a18;
    --SoaThemeDarkTr:#1f1a18e3;
    --SoaThemeHighlight:#EB4E22;

    --StandardShadow: 1px 3px 5px rgba(0, 0, 0, 0.295);
    --StandardShadowText: 0.5px 1.5px 2px rgba(0, 0, 0, 0.295);

    --SideMenuSize : 300px;
}

