/* SECTION */
.paragraph {
  display: flex;
  flex-direction: row;
}
.paragraph-img {
  flex: 1;
}
.paragraph-illustration {
  flex: 1;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.233);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.paragraph-illustration-image {
  max-width: 600px;
  height: auto;
  width: 100%;
}
.paragraph-video {
  max-width: 600px;
  width: 100%;
  height: 100%;
}
.paragraph-img {
  max-width: 600px;
  width: 100%;
  height: 100%;
}
.paragraph-illustration-videowrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}
.paragraph-video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: var(--StandardShadow);
  background-color: black;
  border: 10px solid black;
  border-radius: 5px;
}
.paragraph-content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.paragraph-content-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: normal;
  border-bottom: solid rgba(255, 255, 255, 0.123) 2px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 600px;
}
.paragraph-content-texte {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: lighter;
  font-size: 18px;
  max-width: 600px;
  text-align: justify;
  white-space: pre-line;
}

@media (max-width: 1200px) {
  .paragraph {
    display: block;
  }
  .paragraph-illustration {
    display: block;
  }
  .paragraph-content {
    display: block;
  }
  .paragraph-illustration * {
    margin: 0 auto;
  }
  .paragraph-content * {
    margin: 0 auto;
  }
}
